<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>Haircut salons</h3>
                    <p>
                        ENSPM,Maroua,Extreme-Nord,Cameroun<br>
                       <br>
                        <strong>Telephone:</strong> xxxxxxx<br>
                        <strong>Email:</strong> ihm@ihm.com<br>
                    </p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Liens utiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#hero">Accueil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about">A propos</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#portofolio">Portfolio</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nos Services</h4>
                    <ul>
                        <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing numérique</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Développement d'applications mobiles &
                                web</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Formation aux outils numériques</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Gestion de contenu </a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Conseil en stratégie numérique </a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Photography professionnel</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Analyse de données</a></li> -->
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4> Newsletter</h4>
                    <!-- <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p> -->
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Souscrire">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>2023</span></strong>. 
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>