<app-top-bar></app-top-bar>
<app-header></app-header>

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>About</h2>
                <ol>
                    <li><a routerLink="/about">Home</a></li>
                    <li>About</li>
                </ol>
            </div>

        </div>
    </section>

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
            <div class="col-lg-6 video-box">
              <img src="assets/img/mamai.enc" class="img-fluid" alt="">
              <a href="" class="venobox play-btn mb-4" data-vbtype="video"
                data-autoplay="true"></a>
            </div>
  
            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
  
              <div class="section-title">
                <h2>About Us</h2>
                <p>
                    The rapid evolution of technology has transformed our world into a place where accessibility and connectivity are crucial for success. Companies that embrace these changes and leverage the opportunities provided by the digital realm are the ones that stand out and thrive. That is why I am confident that it is time for us to take the next step and invest in a web application.


                </p>
              </div>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title"><a href="">Vision</a></h4>
                <p class="description">
                </p>
              </div>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Purpose & Motivation</a></h4>
                <p class="description"></p>
              </div>
  
            </div>
          </div>
  
        </div>
      </section>
   
</main>

<app-footer></app-footer>
