<app-top-bar></app-top-bar>
<app-header></app-header>

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Haircut salon</h2>
                <ol>
                    <li><a routerLink="">Home</a></li>
                    <li>Haircut salon</li>
                </ol>
            </div>

        </div>
    </section>
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Our Haircut Salon</h2>
            </div>

            <div class="row">


                <div *ngFor="let i of salons" class="col-lg-4 col-md-6 icon-box" data-aos="fade-up"
                    data-aos-delay="i.delay">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top " src="assets/img/{{i.image}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title title">{{i.name}}</h5>
                            <p class="card-text"></p>
                            <a [routerLink]="['/hairSalon',i.id]" class="btn btn-primary">See more</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
<app-footer></app-footer>